
header{
	text-align: center;
}
body {
    margin: 60px auto;
    width: 70%;
	bgcolor:#E6E6FA;
}
nav ul, footer ul {
	font-size:2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 30px;
}

h2{
	color: #42f47d;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	padding:0;
    margin:5px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  height: 250px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0px;
}


a {
	display: inline-block;
    text-decoration: none;
    color: #999;
}
a:hover {
	/*-ms-transform: scale(1.05); 	   /* IE 9 */
	/*-o-transform: scale(1.05);*/	   /* Chrome */
    /*transform: underline;*/
	text-decoration: underline;
}

.color_hover:hover{
	color:#42f47d;
	text-decoration: none;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
	padding:0;
    margin:0;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

img{
	margin-right:30px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.small_label{
	font-size:1.1em;
}

