---
layout: default
title: My Blog
---
	<h1 style="text-align:center;">{{ page.title }}</h1>
	<br></br>
	
	<div style="width:90%;">
	<ul class="posts">
	  {% for post in site.posts %}
		{% if post.category != "scheduled" %}
			<div class="row">
				<div class="column">
					<img src="{{post.img_src}}" style="width:450px; height:100%;">
				</div>
				<div class="column">
					<a href="{{post.url}}"><h2><b>{{post.title}} </b></h2></a>
					<p style="font-size:0.7em">{{ post.date | date_to_string }} - {{post.category}}
					<br></br>
					<p style="font-size:1em">{{post.snippet}}</p>
				</div>
			</div>
			
			<span style="display:none;">{% increment counter %}</span>
			{% if counter != site.posts.size %}
				<hr>
			{% endif %}
		{% endif %}
	  {% endfor %}
	</ul>
	</div>