---
layout: main
title: My Blog
---
	<h1 class="center">{{ page.title }}</h1>
	<br></br>
	
	<div>
	<ul class="posts">
	{% assign counter = 0 %}
	  {% for post in site.posts %}
		{% if post.category != "scheduled" %}
			<span class="non-display">{% increment counter %}</span>
			
			<!-- this condition is for not adding line above first blog contribution -->
			
			{% unless counter == 1 %}
				<hr>
			{% endunless %}
			
			<div class="row">
				<div class="column">
					<img class="post_img" src="{{post.img_src}}">
				</div>
				<div class="column">
					<a href="{{post.url}}"><h2><b>{{post.title}} </b></h2></a>
					<p class="smallest">{{ post.date | date_to_string }} - {{post.category}}
					<br></br>
					<p class="medium">{{post.snippet}}</p>
				</div>
			</div>
			
		{% endif %}
	  {% endfor %}
	</ul>
	</div>