<!DOCTYPE html>
	<html>
		<head>
			<title>CV</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navigation">
	    		<ul style="text-align:center;">
	        		<li><a class="color_hover" href="/">Home</a></li>
		        	<li><a class="color_hover" href="/about">About</a></li>
	        		<li><a class="color_hover" href="/cv">CV</a></li>
	        		<li><a class="color_hover" href="/trips_projects">Trips and projects</a></li>
	    		</ul>
			</nav>
			<div class="container" style="padding-top: 50px;">
			
			{{ content }}
			
			
			</div><!-- /.container -->
			<br></br>
			<footer>
	    		<ul>
	        		<li><a href="https://www.fiit.stuba.sk/">STU FIIT</a></li>
	        		<li><a href="https://gma.edupage.org/">GMA</a></li>
					<li><a href="CV-JanHajzok.pdf" download>downoload CV</a>
				</ul>
			</footer>
		</body>
	</html>